#accueil {
	background-image:url('../images/media/background/accueil.jpg');
}

#accueil .dateConference {
  position: absolute;
	left:82%;
	top:80px;
	width: 45%;
	height: 45%;
	background-image: url(../images/media/text_hand_confdate_256.png);
	background-repeat: no-repeat;
	background-size:contain;
	-moz-transform:rotate(15deg);
	-webkit-transform:rotate(15deg);
	-o-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.18);
}

