/* General */
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


@font-face
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
}

/* Slides */
.page {
    height: 100%;
    border-box: box-sizing;
    background-color: black;
    color: #EBEFF5;
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.content {
	position: relative;
	width: 980px;
	height: 80%;
	top: 10%;
	color: #2c2c2c;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

/* XXL Bootstrap button */
.btn-xlarge {
	padding: 18px 28px;
	font-size: 32px;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}

/* dialog */
.modal-body {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #F2F4F7;
}

.modal-body-text {
	margin-bottom: 20px;
}

