/* General */
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


@font-face
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
}

/* Slides */
.page {
  height: 100%;
  border-box: box-sizing;
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.content {
	padding-top: 100px;
	height: 100%;
	overflow: hidden;
}

/* XXL Bootstrap button */
.text-xlarge {
	cursor: pointer;
	padding: 18px 28px;
	font-size: 32px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}

.divider10 {
  height: 10px;
}

.divider20 {
  height: 20px;
}

.divider40 {
  height: 40px;
}

.divider80 {
  height: 80px;
}

.divider120 {
  height: 120px;
}

/* dialog */
.modal-body {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #F2F4F7;
}

.modal-body-text {
	margin-bottom: 20px;
}

/* utilisation de la fonte ubuntu pour les titres */

h1,h2,h3,h4,h5,h6 {
  font-family:Ubuntu, Arial;
}

/* transparent */ 
.transparent {
  color: black;
  border: none;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.0);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF); 
}

.transparent_white50 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.5);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF); 
}

.transparent_white75 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.75);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF); 
}

.transparent_white95 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.95);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF); 
}

.transparent_black50 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.5);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); 
}

.transparent_black75 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.75);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000,endColorstr=#C0000000); 
}

.transparent_black95 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.95);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000,endColorstr=#C0000000); 
}
