/* General */
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


@font-face
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
}

/* Slides */
.page {
    height: 100%;
    border-box: box-sizing;
    background-color: black;
    color: #EBEFF5;
    padding: 20px;
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.contentText {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 20px;
	text-align: center;
	vertical-align: middle;
}

.content {
	position: relative;
	width: 980px;
	height: 80%;
	top: 10%;
	color: #2c2c2c;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.contentTransparent {
	position: absolute;
	border-radius: 2px;
	width: 100%;
	height: 100%;
	opacity: 0.90;
	background-color: #e3e3e3;
	-moz-box-shadow: 1px 1px 5px 0px #2c2c2c;
	-webkit-box-shadow: 1px 1px 5px 0px #2c2c2c;
	-o-box-shadow: 1px 1px 5px 0px #2c2c2c;
	box-shadow: 1px 1px 5px 0px #2c2c2c;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2c2c2c, Direction=134, Strength=5);
}

.btn-xlarge {
	padding: 18px 28px;
	font-size: 32px;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}


/* dialog */
.modal-body {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #F2F4F7;
}

.modal-body-text {
	margin-bottom: 20px;
}

/* text fonts */

.paragraphFont {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;	
}

.textFont {
    font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #444;
}

.titreFont {

	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 48px;
	line-height: 40px;
	letter-spacing: -1px;
	color: #444;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-weight: 100;
}

