#orateurs {
	background-image:url('../images/media/background/orateurs.jpg');
}

#orateurs .panel .panel-body {
	min-height: 300px;
}

@media (max-width: 992px) {
	#orateurs .panel .panel-body {
    	min-height: 100px;
  	}
}

@media (max-width: 768px) {
	#orateurs .panel .panel-body {
    	min-height: 100px;
  	}
}