<div class="content container">
  <div class="row hidden-xs">
    <div class="col-md-12">

      <div class="panel panel-default transparent_black50" data-start=" transform: scale(1.0); opacity:1.0;"
            data-500-start="opacity:0; transform: scale(0.25);">
          <div class="panel-body">
          <h2>En 2104 réconcilions plaisir et efficacité au travail!</h2>              
            <p>
            Un thème principal a été défini et il donnera le ton général de la conférence : plaisir et efficacité au travail! La conférence Agile Grenoble sera encore cette année l’évènement agile incontournable de la région. C'est le rendez-vous pour tous les professionnels qui souhaitent savoir comment s'y prendre, découvrir, échanger, apprendre, expérimenter, tester, approfondir leurs connaissances, ou simplement discuter autour de l'agilité. 
          </p>
        </div>
      </div>
      <div class="dateConference visible-md visible-lg"></div>
    </div>
  </div>

  
  <div class="row">

 
    <div class = "col-md-4" >    
      <div class="panel panel-default transparent_white50">
        <div class="panel-body text-center">
        <img src="images/media/icon_blue_money.png" alt="" width="64px">
        <h2 class="ag-sponsor-text">Sponsors</h2>       
        <a ng-href="#{{menuselected}}" ng-click="menuselected = 'sponsors'" class="btn btn-primary btn-lg btn-ag-sponsor">
        <span class="glyphicon glyphicon-arrow-right"></span>
        Soutenir la conférence
        </a>
        </div>
      </div>            
    </div>    

    <div class = "col-md-4" >    
      <div class="panel panel-default transparent_white50">
        <div class="panel-body text-center">
        <img src="images/media/icon_red_speaker.png" alt="" width="64px">
        <h2 class="ag-orateur-text">Orateurs</h2>
        <a ng-href="#{{menuselected}}" ng-click="menuselected = 'orateurs'" class="btn btn-primary btn-lg btn-ag-orateur">
        <span class="glyphicon glyphicon-arrow-right"></span>
        Soumettre votre session
        </a>
        </div>
      </div>            
    </div> 

    <div class = "col-md-4" >    
      <div class="panel panel-default transparent_white50">
        <div class="panel-body text-center">
        <img src="images/media/icon_green_ticket.png" alt="" width="64px">
        <h2 class="ag-participant-text">Participants</h2>
        <a ng-href="#{{menuselected}}" ng-click="menuselected = 'participants'" class="btn btn-primary btn-lg btn-ag-participant">
        <span class="glyphicon glyphicon-arrow-right"></span>
        Participer à la conférence
        </a>
        </div>
      </div>            
    </div> 



  </div>
</div>