<div class="content container" >
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">
          <h1 class="ag-section-title">A Propos</h1>
          <p> dlksdj qlskdj lskjd 
          </p>
        </div>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">
          <h3>Club Agile Rhône Alpes (CARA)</h3>
          <p>
            Cette conférence existe depuis 2008 et il s'agit de sa 6ème édition. L'évènement est organisée par le <a href="http://www.clubagilerhonealpes.org/">Club Agile Rhône-Alpes</a>, association loi 1901 dont la raison d'être est la promotiont et la diffusion des méthodes agiles dans la région Rhône-Alpes au plus grand nombre et par tous moyens de communication et d’intervention: conférence, séminaire, rencontres, partenariats.
          </p>
        </div> 
      </div>
    </div>
     <div class="col-md-6">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">
          <h3>Contacts</h3>
          <p>Pour nous contacter avant la conférence envoyez-nous tout simplement un email :
            <ul ng-init="emails = [
              {
              addr:'orateur',
              desc: 'pour l&#146;appel à orateur et les soumissions de sessions'
              },
              {
              addr:'sponsor', 
              desc: 'pour l&#146;offre de sponsoring'
              },
              {
              addr:'inscription', 
              desc: 'pour les inscriptions à la conférence'
              },
              {
              addr:'contact', 
              desc: 'pour toute autre question au sujet de la conférence'
              }]" >  
              <li ng-repeat="email in emails">           
              <a href="mailto:{{email.addr}}@agile-grenoble.org" >
                {{email.addr}}@agile-grenoble.org
              </a> {{email.desc}}
             </li>        
           </ul>           
        </div> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
       <div class="panel panel-default transparent_white75">
        <div class="panel-body text-center">          
          <p> &#169;2014 Club Agile Rhône Alpes - Crédits photo TODO </p>
        </div>
      </div>
    </div>
  </div>
</div>