<div class="content container" >
  <div class="row">
      <div class="col-md-12 ">
        <div class="jumbotron transparent_white50 text-center">
          <h1>A propos</h1>    
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default transparent_black95">
          <p class="text-center">
            <a style="margin-top:10px; margin-left:50px;" href="http://clubagilerhonealpes.org/">CARA</a>
            <a style="margin-top:10px; margin-left:50px;" href="mailto:contact@agile-grenoble.org">contact</a>
            <a style="margin-top:10px; margin-left:50px;" href="">Organisateurs</a>
          </p>
          <p class="text-left"><em>Copyright © 2014 · Agile Grenoble</em></p>
      </div>
    </div>
  </div>
</div>