
<div class="content container">

    <div class="jumbotron">
    <h1>Keynotes</h1>        
    <p>fdsfs fdfkdflkjd  sdlkjfj dldskfjsdlkflksdjfljsdlfjdlsjfldksjflkdsjflkdfdj
     kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
     kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
     kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
     lkdsj fkjdsflkj  sdlkjflsdkjf df
     </p>    
     </div>     
    <div class="row">
       <div class = "col-md-6" >    
       	<div class="panel panel-default transparent_white50">
	        <div class="panel-body">
			    <div class="media">
				 <a class="pull-left" href="#">
				 <img class="media-object img-thumbnail" src="images/portrait_fb.png" width="180">
				 </a>
				   <div class="media-body">
				   <h2 class="media-heading">François Beauregard</h2>
				   <p>fdsfs fdfkdflkjd  sdlkjfj dldskfjsdlkflksdjfljsdlfjdlsjfldksjflkdsjflkdfdj
            kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
           kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
           kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
				kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
         kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf  
  			      </div>
				 </div>            
           </div>
         </div>            
       </div>
       <div class = "col-md-6"> 
         <div class="panel panel-default transparent_black50">
           <div class="panel-body">                    
				 <div class="media">
				 <a class="pull-left" href="#">
				 <img class="media-object img-thumbnail" src="images/portrait_ag.png" width="180">
				 </a>
				   <div class="media-body">
				   <h2 class="media-heading">Alexandre Gerard</h2>
				   <p>fdsfs fdfkdflkjd  sdlkjfj dldskfjsdlkflksdjfljsdlfjdlsjfldksjflkdsjflkdfdj
            kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
           kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
           kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
				kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
         kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf  
  			      </div>
  			    </div>           
           </div>
         </div>                    
       </div>
    </div>
 
</div>
