  <div class="content container">
  	<div class="row">
  		<div class="col-md-12 ">
			<div class="jumbotron transparent_white50 text-center">
			    <h1>Orateurs</h1>
		   	</div>
	    </div>
	</div>
	<div class="divider120 visible-md visible-lg"></div>
	<div class="row">
		<div class="col-md-4">
	   		<div class="panel panel-danger transparent_white95">
	   			<div class="panel-heading text-center">
	   				<b>Appel à orateur</b>
	   			</div>
	   			<div class="panel-body">
	   				<p>Nous sommes fier de vous annoncer <b>l'ouverture de l'appel à orateurs pour Agile Grenoble</b>.
	   				Cette édition aura lieu le Jeudi 20 Novembre 2014 au WTC - Grenoble.</p>
	   				<p>
			   			Cette nouvelle édition d'Agile Grenoble sera associée à 4 thèmes principaux:
			   			<b><i>
				   			<ul>
					   			<li>Plaisir et Excellence</li>
					   			<li>Partage et Emulation</li>
					   			<li>Désir et Réalité</li>
					   			<li>Changement et Energie</li>
				   			</ul>
			   			</i></b>
			   		</p>
	   			</div>
	   		</div>
	   	</div>
	   	<div class="col-md-4">
	   		<div class="panel panel-default transparent text-center">
	   			<div class="divider80"></div>
		   		<button class="btn btn-danger btn-lg text-center" ng-click="soumettre()">
		   			<span class="glyphicon glyphicon-edit"></span> Soumettre une session
	          	</button>
	          	<div class="divider80"></div>
            </div>
	   	</div>
	   	<div class="col-md-4">
	   		<div class="panel panel-danger transparent_white95">
	   			<div class="panel-heading text-center">
	   				<b>Date limite de soumission</b>
	   			</div>
	   			<div class="panel-body">
	   				<div class="divider20"></div>
	   				<p>A noter la date limite de soumission fixée au <b>30 Juin 2014 inclus</b>.</p>
	   				<div class="divider20"></div>
	   			</div>
	   		</div>
	   	</div>
	</div>
  </div>