 <div class="page" id="orateurs"
      data-top="opacity:1.0; "
      data-80p-top="opacity:0.2; "
>
  <div class="content" >
    <div class="contentTransparent" ></div>
    <div class="contentText" >
      <h2>Orateurs</h2>
      <center>
        <div><form>
          titre: <input type="text" name="titre"><br>
          abstract: <textarea width="200px" type="text" name="abstract"></textarea><br>
          prénom: <input type="text" name="firstname"><br>
          nom: <input type="text" name="lastname"><br>
          <input type="submit" value="Submit">
        </form></div>
      </center>
    </div>
  </div>
</div>