 <div class="page" id="orateurs"
      data-top="opacity:1.0; "
      data-80p-top="opacity:0.2; "
>
    <div class="content">
      <h2>Keynotes!</h2>
      <div class="keynote-teaser" >
        <img src="https://pbs.twimg.com/profile_images/1860391237/fbeauregard.png" height="300" title="François Beauregard"> </img>
        <img src="https://pbs.twimg.com/profile_images/1734100582/Alexandre_GERARD.jpg" height="300" title="Alexandre Gerard">
      </div>
      <p></p>
      <center>
        <a href="submit.html"><button type="button" class="link_button"><div class="submit-session" >l'appel à orateurs est ouvert</div></button></a>
      </center>
    </div>
</div>