<div class="content container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron transparent_black75">
			    <h1>Sponsors</h1>
			    <p>
			    Une occasion unique d'associer le nom de votre entreprise à cet événement grenoblois qui réunira des
          décideurs de tous secteurs, directeurs, managers, chefs de projets, développeurs, testeurs
          et chercheurs, en souscrivant à l'une des offres proposées (attention nombre de sponsors limité).
			    </p>
	   		</div>
   		</div>
   		
   	   		
   		
	</div>
	<div class="row">
   		<div class="col-md-6">
	      <div class="panel panel-default transparent_white75">
          <div class="panel-body"> 
          <h4>Agile Grenoble, c'est...</h4>
          <ul>
          <li>L'une des plus importante conférence agile française (500 participants)</li>
           <li>Le cadre prestigieux du centre de congrès WTC de Grenoble</li>
          <li>Deux keynotes de classe mondiale ainsi que 45 sessions réparties sur 9 salles</li>
          </ul>          
          </div>
        </div>
	    </div>
	    

      <div class="col-md-6">
       <div class="panel panel-default transparent_black75">
          <div class="panel-body"> 
          <h4>Offre SILVER</h4>
          <ul>
            <li>Exploiter le logo "Sponsor Agile Grenoble 2014"</li>
            <li>Affichage de votre logo et entreprise sur tous nos support de communication</li>
            <li>Un stand sur le lieu de la conférence</li>
          </ul>
          </div>
        </div>          	
     	</div>

	    
	    </div>
    	<div class="row">
	    
	   	<div class="col-md-6">      
       <div class="panel panel-default transparent_black75">
          <div class="panel-body"> 
          <h4>Offre GOLD</h4>
          <ul>
            <li>Un espace prévilégié pour votre stand</li>
            <li>L'envoi d'une communication par email aux participants</li>
            <li>10 minutes de présentation dans l'amphithéâtre</li>
            <li>L'ensemble des avantages de l'offre SILVER</li>
          </ul>
          </div>
        </div>        	
      </div>
      
      
      <div class="col-md-6">
        <div class="panel panel-default transparent_white75">
          <div class="panel-body"> 
          <h4>En savoir plus ?</h4>     
          <p>Rien de plus simple... Téléchargez notre offre détaillée de sponsoring.</p>    
           <a href="lien vers le PDF" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-download"></span>
            Offre de Sponsoring
            </a>                      
          </div>
        </div>          	
     	</div>
     	

     	

     	
	</div>
</div>
