<div class="content container">
  <div class="row hidden-xs">
    <div class="col-md-8">
      <div class="jumbotron transparent_black50" data-start=" transform: scale(1.0); opacity:1.0;"
          data-500-start="opacity:0; transform: scale(0.25);">
          <div class="dateConference visible-md visible-lg"></div>
          <h2>En 2014 réconcilions plaisir et efficacité au travail!</h2>
          <p>
          La conférence Agile Grenoble sera encore cette année l’évènement incontournable de la région pour tous les professionnels qui souhaitent savoir comment s'y prendre, découvrir, échanger, apprendre, expérimenter, tester, approfondir leurs connaissances, ou simplement discuter autour de l'agilité.
        </p>
      </div>
    </div>
  </div>



  <div class="row visible-md visible-lg"><br><br><br><br></div>
  <div class="row visible-lg"><br><br><br><br><br><br><br><br><br></div>
  <div class="row">
    <div class="col-md-4">
      <a ng-href="#{{menuselected}}" ng-click="menuselected = 'sponsors'">
        <div class="text-xlarge panel panel-default transparent_black50" data-container="body" popover-placement="top" popover="Soutenez l'évènement au cotés de nos sponsors et partenaires" popover-trigger="mouseenter"><p class="text-danger text-center"><span class="glyphicon glyphicon-euro"></span> Sponsors</p>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a ng-href="#{{menuselected}}" ng-click="menuselected = 'orateurs'">
        <div class="text-xlarge panel panel-default transparent_black50" data-container="body" popover-placement="top" popover="Proposez votre session" popover-trigger="mouseenter"><p class="text-primary text-center"><span class="glyphicon glyphicon-volume-up"></span> Orateurs</p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a ng-href="#{{menuselected}}" ng-click="menuselected = 'participants'">
        <div class="text-xlarge panel panel-default transparent_black50 " data-container="body" popover-placement="top" popover="Inscrivez-vous à la conférence" popover-trigger="mouseenter"><p class="text-success text-center"><span class="glyphicon glyphicon-user"></span> Participants</p>
        </div>
      </a>
    </div>
  </div>
</div>