<div class="content container">
  
  <div class="row">
    <div class="dateConference"></div>
    <div class="jumbotron col-md-12 transparent_white50">
      <div data-start=" transform: scale(1.0); opacity:0.6;"
        data-500-start="opacity:0; transform: scale(0.25);">
         <h2 class="text-center">Réconcilions plaisirs et efficacité au travail</h2>   
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a ng-href="#{{menuselected}}" ng-click="menuselected = 'sponsors'">
        <div ng-click="menuselected = 'sponsors'">
            <button type="button" class="btn btn-sponsors btn-xlarge" popover-placement="top" popover="Soutenez l'évènement au cotés de nos sponsors et partenaires" popover-trigger="mouseenter">Sponsors</button>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a ng-href="#{{menuselected}}" ng-click="menuselected = 'orateurs'">
        <div ng-click="menuselected = 'orateurs'">
           <button type="button" class="btn btn-orateurs btn-xlarge" popover-placement="top" popover="Proposez votre session" popover-trigger="mouseenter">Orateurs</button>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a ng-href="#{{menuselected}}" ng-click="menuselected = 'participants'">
        <div ng-click="menuselected = 'participants'">
          <button type="button" class="btn btn-participants btn-xlarge" data-container="body" popover-placement="top" popover="Inscrivez-vous à la conférence" popover-trigger="mouseenter">Participants</button>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div  ng-controller="CarouselSponsorCtrl">
        <carousel interval="intervalSpeed">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img  class="img-rounded" style="max-width:100%; max-height:100%;" ng-src="{{slide.image}}">
          </slide>
        </carousel>
      </div>
    </div>
    <div class="col-md-9">
    </div>
  </div>
</div>