<div class="content container">
    <div class="row">
      <div class = "col-md-12" >   
        <div class="jumbotron transparent_white50">
          <h1>Keynotes</h1>
          <p>Comme chaque année, nous avons l'immense privilège d'inviter deux personnes (ou plutôt "personnages")
          qui sont à la fois influenceurs, passionnés et changeurs du monde. En 2014 nous accueillons Alexandre
          GERARD et François BEAUREGARD pour votre plus grand plaisir...
          </p>

        </div>
      </div>
    </div>
    <div class="row">
    
          <div class = "col-md-6"> 
        <div class="panel panel-default transparent_white50">
          <div class="panel-body">                    
  		      <div class="media">
  		        <a class="pull-left" href="#">
  		          <img class="media-object img-thumbnail" src="images/portrait_ag.png" width="150">
  		        </a>
        		  <div class="media-body">
        		    <h2 class="media-heading">Alexandre GERARD</h2>
        		    <p>Alexandre GERARD est PDG de la société Chrono FLEX, société fondée en 1995 et leader national du service mobile de dépannage de flexibles hydrauliques. "Nous avons transformé notre entreprise porte-avions en une armada de Speed Boat !”. C’est le sentiment qu’a aujourd’hui Alexandre, après 3 ans d’une vraie "libération" de l'entreprise. Un chef d’entreprise devenu “entraîneur d’entraîneurs”, manager par “la vision et les valeurs”, travailler à améliorer l’environnement plutôt qu’incriminer les individus, miser sur la confiance et la responsabilisation plutôt que les consignes et le contrôle. Il semble qu’un changement agile d’entreprise, ça ressemblerait à ça.
      		    </p>  
                   </p>          
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class = "col-md-6" >    
       	<div class="panel panel-default transparent_black50">
	        <div class="panel-body">
  			    <div class="media">
      				<a class="pull-left" href="#">
      				  <img class="media-object img-thumbnail" src="images/portrait_fb.png" width="150">
      				</a>
      			  <div class="media-body">
      				  <h2 class="media-heading">François BEAUREGARD</h2>
      				  <p>fdsfs fdfkdflkjd  sdlkjfj dldskfjsdlkflksdjfljsdlfjdlsjfldksjflkdsjflkdfdj
                  kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
                  kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
                  kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
      				    kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
                  kfjdl  jfdlflkdfj  dslkfjldksjf dslfkjdfl kdslfkjsd jflsdkjf dskljf  j dslkjf
 		        </div>
  		      </div>           
          </div>
        </div>
      </div>                    
    </div>
</div>
