<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <img class="logo" src="./images/media/logo/logo_ag_white_320.png" border=0 alt="logo">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
         <li ng-class="{active: menuselected == 'accueil'}">
              <a ng-href="#{{menuselected}}" ng-click="menuselected = 'accueil'">Accueil</a>
          </li>
          <li ng-class="{active: menuselected == 'keynotes'}">
              <a ng-href="#{{menuselected}}" ng-click="menuselected = 'keynotes'">Keynotes</a>
          </li>
          <li ng-class="{active: menuselected == 'sponsors'}">
              <a ng-href="#{{menuselected}}" ng-click="menuselected = 'sponsors'">Sponsors</a>
          </li>
          <li ng-class="{active: menuselected == 'orateurs'}">
              <a ng-href="#{{menuselected}}" ng-click="menuselected = 'orateurs'">Orateurs</a>
          </li>
          <li ng-class="{active: menuselected == 'participants'}">
              <a ng-href="#{{menuselected}}" ng-click="menuselected = 'participants'">Participants</a>
          </li>
          <li ng-class="{active: menuselected == 'infos'}">
              <a ng-href="#{{menuselected}}" ng-click="menuselected = 'infos'">Infos</a>
          </li>
        </ul>
      <!--div>  
        <div class="connexion" ng-controller="ModalConnexionCtrl">
          <div class="btn btn-default" ng-hide="logged" ng-click="open()">Connexion</div>
          <div class="btn btn-default" ng-show="logged" ng-click="disconnect()">Deconnexion</div>
        </div>
      </div>
      <div ng-show="logged" class="userProfile" popover-placement="left" popover="{{name}} ({{email}})" popover-trigger="mouseenter">
        <img ng-src="{{ image }}" width="40px" height="40px"/>
      </div-->

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>