  <div class="content container">
  	<div class="row">
  		<div class="jumbotron col-md-12 transparent_white50 text-center">
		    <h1>Orateurs</h1>
	   	</div>
	</div>
	<div class="row visible-md visible-lg">
	    <br><br><br><br><br><br><br><br><br>
	</div>
	<div class="row">
	   	<div class="col-md-6 col-md-offset-3">
	   		<div class="text-xlarge panel panel-default transparent_black95" ng-click="soumettre()"><p class="text-primary text-center"><span class="glyphicon glyphicon-edit"></span> Soumettre une session</p>
          	</div>
	   	</div>
	</div>
  </div>