#accueil {
	background-image:url('../images/media/background/accueil.jpg');
}

.accueilSponsorsImage {
	background-image: url(../images/media/icon_orange_money.png);
}

.accueilOrateursImage {
	background-image: url(../images/media/icon_orange_speaker.png);
}

.accueilParticipantsImage {
	background-image: url(../images/media/icon_orange_ticket.png);
}

#accueil .dateConference {
  position: absolute;
	left:80%;
	top:60px;
	width: 40%;
	height: 40%;
	background-image: url(../images/media/text_hand_confdate_256.png);
	background-repeat: no-repeat;
	background-size:contain;
	-moz-transform:rotate(15deg);
	-webkit-transform:rotate(15deg);
	-o-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.18);
}

/* Test boutons custom Bootstrap accueil */
.btn-sponsors { 
  color: #A34848; 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
  opacity: 0.9;
 	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 1px 1px 5px 0px #2C3952;
	-webkit-box-shadow: 1px 1px 5px 0px #2C3952;
	-o-box-shadow: 1px 1px 5px 0px #2C3952;
	box-shadow: 1px 1px 5px 0px #2C3952;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C3952, Direction=134, Strength=5);
} 
 
.btn-sponsors:hover, 
.btn-sponsors:focus, 
.btn-sponsors:active, 
.btn-sponsors.active, 
.open .dropdown-toggle.btn-sponsors { 
  color: #2C3952; 
  background-color: #7B98D1; 
  border-color: #7B98D1; 
} 
 
.btn-sponsors:active, 
.btn-sponsors.active, 
.open .dropdown-toggle.btn-sponsors { 
  background-image: none; 
} 
 
.btn-sponsors.disabled, 
.btn-sponsors[disabled], 
fieldset[disabled] .btn-sponsors, 
.btn-sponsors.disabled:hover, 
.btn-sponsors[disabled]:hover, 
fieldset[disabled] .btn-sponsors:hover, 
.btn-sponsors.disabled:focus, 
.btn-sponsors[disabled]:focus, 
fieldset[disabled] .btn-sponsors:focus, 
.btn-sponsors.disabled:active, 
.btn-sponsors[disabled]:active, 
fieldset[disabled] .btn-sponsors:active, 
.btn-sponsors.disabled.active, 
.btn-sponsors[disabled].active, 
fieldset[disabled] .btn-sponsors.active { 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
} 
 
.btn-sponsors .badge { 
  color: #C2D0EB; 
  background-color: #FFFFFF; 
}


.btn-orateurs { 
  color: #428BCA; 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
  opacity: 0.9;
 	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 1px 1px 5px 0px #2C3952;
	-webkit-box-shadow: 1px 1px 5px 0px #2C3952;
	-o-box-shadow: 1px 1px 5px 0px #2C3952;
	box-shadow: 1px 1px 5px 0px #2C3952;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C3952, Direction=134, Strength=5);
} 
 
.btn-orateurs:hover, 
.btn-orateurs:focus, 
.btn-orateurs:active, 
.btn-orateurs.active, 
.open .dropdown-toggle.btn-orateurs { 
  color: #2C3952; 
  background-color: #7B98D1; 
  border-color: #7B98D1; 
} 
 
.btn-orateurs:active, 
.btn-orateurs.active, 
.open .dropdown-toggle.btn-orateurs { 
  background-image: none; 
} 
 
.btn-orateurs.disabled, 
.btn-orateurs[disabled], 
fieldset[disabled] .btn-orateurs, 
.btn-orateurs.disabled:hover, 
.btn-orateurs[disabled]:hover, 
fieldset[disabled] .btn-orateurs:hover, 
.btn-orateurs.disabled:focus, 
.btn-orateurs[disabled]:focus, 
fieldset[disabled] .btn-orateurs:focus, 
.btn-orateurs.disabled:active, 
.btn-orateurs[disabled]:active, 
fieldset[disabled] .btn-orateurs:active, 
.btn-orateurs.disabled.active, 
.btn-orateurs[disabled].active, 
fieldset[disabled] .btn-orateurs.active { 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
} 
 
.btn-orateurs .badge { 
  color: #C2D0EB; 
  background-color: #FFFFFF; 
}

.btn-participants { 
  color: #449744; 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
  opacity: 0.9;
 	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 1px 1px 5px 0px #2C3952;
	-webkit-box-shadow: 1px 1px 5px 0px #2C3952;
	-o-box-shadow: 1px 1px 5px 0px #2C3952;
	box-shadow: 1px 1px 5px 0px #2C3952;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C3952, Direction=134, Strength=5);
} 
 
.btn-participants:hover, 
.btn-participants:focus, 
.btn-participants:active, 
.btn-participants.active, 
.open .dropdown-toggle.btn-participants { 
  color: #2C3952; 
  background-color: #7B98D1; 
  border-color: #7B98D1; 
} 
 
.btn-participants:active, 
.btn-participants.active, 
.open .dropdown-toggle.btn-participants { 
  background-image: none; 
} 
 
.btn-participants.disabled, 
.btn-participants[disabled], 
fieldset[disabled] .btn-participants, 
.btn-participants.disabled:hover, 
.btn-participants[disabled]:hover, 
fieldset[disabled] .btn-participants:hover, 
.btn-participants.disabled:focus, 
.btn-participants[disabled]:focus, 
fieldset[disabled] .btn-participants:focus, 
.btn-participants.disabled:active, 
.btn-participants[disabled]:active, 
fieldset[disabled] .btn-participants:active, 
.btn-participants.disabled.active, 
.btn-participants[disabled].active, 
fieldset[disabled] .btn-participants.active { 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
} 
 
.btn-participants .badge { 
  color: #C2D0EB; 
  background-color: #FFFFFF; 
}

.transparent_white50 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.5);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF); 
}

.transparent_white75 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.75);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF); 
}

.transparent_black50 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.5);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); 
}

.transparent_black75 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.75);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000,endColorstr=#C0000000); 
}
