/* General */
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


@font-face
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
}

/* Slides */
.page {
    height: 100%;
    border-box: box-sizing;
    background-color: black;
    color: #EBEFF5;
    padding: 20px;
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.contentText {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 20px;
	text-align: center;
	vertical-align: middle;
}

.content {
	position: relative;
	width: 980px;
	height: 80%;
	top: 10%;
	color: #2c2c2c;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.contentTransparent {
	position: absolute;
	border-radius: 2px;
	width: 100%;
	height: 100%;
	opacity: 0.90;
	background-color: #e3e3e3;
	-moz-box-shadow: 1px 1px 5px 0px #2c2c2c;
	-webkit-box-shadow: 1px 1px 5px 0px #2c2c2c;
	-o-box-shadow: 1px 1px 5px 0px #2c2c2c;
	box-shadow: 1px 1px 5px 0px #2c2c2c;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2c2c2c, Direction=134, Strength=5);
}

.btn-xlarge {
	padding: 18px 28px;
	font-size: 32px;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}


/* dialog */
.modal-body {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #F2F4F7;
}

.modal-body-text {
	margin-bottom: 20px;
}

/* text fonts */

.paragraphFont {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;	
}

.textFont {
    font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #444;
}

.titreFont {

	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 48px;
	line-height: 40px;
	letter-spacing: -1px;
	color: #444;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-weight: 100;
}

.btn-primary {
	opacity: 0.9;
 	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 1px 1px 5px 0px #2C3952;
	-webkit-box-shadow: 1px 1px 5px 0px #2C3952;
	-o-box-shadow: 1px 1px 5px 0px #2C3952;
	box-shadow: 1px 1px 5px 0px #2C3952;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C3952, Direction=134, Strength=5);
}



.btn-sponsors { 
  color: #A34848; 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
  opacity: 0.9;
 	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 1px 1px 5px 0px #2C3952;
	-webkit-box-shadow: 1px 1px 5px 0px #2C3952;
	-o-box-shadow: 1px 1px 5px 0px #2C3952;
	box-shadow: 1px 1px 5px 0px #2C3952;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C3952, Direction=134, Strength=5);
} 
 
.btn-sponsors:hover, 
.btn-sponsors:focus, 
.btn-sponsors:active, 
.btn-sponsors.active, 
.open .dropdown-toggle.btn-sponsors { 
  color: #2C3952; 
  background-color: #7B98D1; 
  border-color: #7B98D1; 
} 
 
.btn-sponsors:active, 
.btn-sponsors.active, 
.open .dropdown-toggle.btn-sponsors { 
  background-image: none; 
} 
 
.btn-sponsors.disabled, 
.btn-sponsors[disabled], 
fieldset[disabled] .btn-sponsors, 
.btn-sponsors.disabled:hover, 
.btn-sponsors[disabled]:hover, 
fieldset[disabled] .btn-sponsors:hover, 
.btn-sponsors.disabled:focus, 
.btn-sponsors[disabled]:focus, 
fieldset[disabled] .btn-sponsors:focus, 
.btn-sponsors.disabled:active, 
.btn-sponsors[disabled]:active, 
fieldset[disabled] .btn-sponsors:active, 
.btn-sponsors.disabled.active, 
.btn-sponsors[disabled].active, 
fieldset[disabled] .btn-sponsors.active { 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
} 
 
.btn-sponsors .badge { 
  color: #C2D0EB; 
  background-color: #FFFFFF; 
}


.btn-orateurs { 
  color: #428BCA; 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
  opacity: 0.9;
 	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 1px 1px 5px 0px #2C3952;
	-webkit-box-shadow: 1px 1px 5px 0px #2C3952;
	-o-box-shadow: 1px 1px 5px 0px #2C3952;
	box-shadow: 1px 1px 5px 0px #2C3952;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C3952, Direction=134, Strength=5);
} 
 
.btn-orateurs:hover, 
.btn-orateurs:focus, 
.btn-orateurs:active, 
.btn-orateurs.active, 
.open .dropdown-toggle.btn-orateurs { 
  color: #2C3952; 
  background-color: #7B98D1; 
  border-color: #7B98D1; 
} 
 
.btn-orateurs:active, 
.btn-orateurs.active, 
.open .dropdown-toggle.btn-orateurs { 
  background-image: none; 
} 
 
.btn-orateurs.disabled, 
.btn-orateurs[disabled], 
fieldset[disabled] .btn-orateurs, 
.btn-orateurs.disabled:hover, 
.btn-orateurs[disabled]:hover, 
fieldset[disabled] .btn-orateurs:hover, 
.btn-orateurs.disabled:focus, 
.btn-orateurs[disabled]:focus, 
fieldset[disabled] .btn-orateurs:focus, 
.btn-orateurs.disabled:active, 
.btn-orateurs[disabled]:active, 
fieldset[disabled] .btn-orateurs:active, 
.btn-orateurs.disabled.active, 
.btn-orateurs[disabled].active, 
fieldset[disabled] .btn-orateurs.active { 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
} 
 
.btn-orateurs .badge { 
  color: #C2D0EB; 
  background-color: #FFFFFF; 
}

.btn-participants { 
  color: #449744; 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
  opacity: 0.9;
 	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 1px 1px 5px 0px #2C3952;
	-webkit-box-shadow: 1px 1px 5px 0px #2C3952;
	-o-box-shadow: 1px 1px 5px 0px #2C3952;
	box-shadow: 1px 1px 5px 0px #2C3952;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C3952, Direction=134, Strength=5);
} 
 
.btn-participants:hover, 
.btn-participants:focus, 
.btn-participants:active, 
.btn-participants.active, 
.open .dropdown-toggle.btn-participants { 
  color: #2C3952; 
  background-color: #7B98D1; 
  border-color: #7B98D1; 
} 
 
.btn-participants:active, 
.btn-participants.active, 
.open .dropdown-toggle.btn-participants { 
  background-image: none; 
} 
 
.btn-participants.disabled, 
.btn-participants[disabled], 
fieldset[disabled] .btn-participants, 
.btn-participants.disabled:hover, 
.btn-participants[disabled]:hover, 
fieldset[disabled] .btn-participants:hover, 
.btn-participants.disabled:focus, 
.btn-participants[disabled]:focus, 
fieldset[disabled] .btn-participants:focus, 
.btn-participants.disabled:active, 
.btn-participants[disabled]:active, 
fieldset[disabled] .btn-participants:active, 
.btn-participants.disabled.active, 
.btn-participants[disabled].active, 
fieldset[disabled] .btn-participants.active { 
  background-color: #C2D0EB; 
  border-color: #7B98D1; 
} 
 
.btn-participants .badge { 
  color: #C2D0EB; 
  background-color: #FFFFFF; 
}